*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page1
{
    background-color: #E0EBE7;
    /* height: 480px; */
    
   
}

.navitem img
{

    border-radius:100px;
    width: 100px;
    height: 100px; 
   
}

.navbar
{

    background-color: #E0EBE7;
   
}

.navitem
{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content:space-around;

}



.links
{
    
    column-gap: 70px;
    display: flex;
    font-size: larger;
    float: right;
    
}

.links a
{  
    
    text-decoration: none;
    color:#3F9C87;   
}

.links a:hover
{
    color: black;
}


.head
{
  
    margin-top: 0px;
    color: #3F9C87;
    text-align: center;
}
.viney
{
    display: flex;
    margin-left: 15%;
    font-family: fantasy;
    font-size: 100px;
    align-items: center;
    animation: new 5s infinite;
    animation-timing-function: linear;
}

.head1
{
    display: flex;
    /* margin-top: 7%; */
    justify-content: center;
    column-gap: 50px;
}

.head h2{
    animation: new1 5s infinite;
}

@keyframes new {
    100%,0%{
        color: red;
       
    }
    75%,25%{
        color: #3F9C87;
        

    }
    50%{
        color: black;
       
    }
    
}

@keyframes new1 {
    100%,0%{
        color: red;
    }
    75%,25%{
        color: #3F9C87;
    }
    50%{
        color: black;
    }
    
}


.cloud1
{
width: 10%;
display: flex;
position: absolute;
top: 35%;
left: 10%;
}

.cloud2{
display: flex;
width: 10%;
}

.landimg img{
    width: 100%;
    height: 100%;
}
.page2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head2{
    margin-top: 10%;
    line-height: 40px;
    text-align: center;
    color: black;
}

.img1
{
    width: 250px;
    height: 300px;
    border: 10px solid #3F9C87;
    border-radius: 70px;
}
.page2_head{
    color:#3F9C87;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration:underline;
}


.card{
    width: 66%;
    /* background-color: #E0EBE7; */
    background-image: linear-gradient(45deg,black,#3F9C87);
    font-size: 100px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;

}



.card1{
    margin-top: 10%;
    display: flex;
    width:65%;
    color: black;
    margin: auto;
    align-items: center;
    margin-bottom: 10%;
}
.card1_text
{
    width: 100%;
    height: 100%;
    margin-left: 4%;
    text-align: left;
    line-height: 40px;
}

.card2
{
    width: 50%;
    background-color: #E0EBE7;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    line-height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.card2_head{
    font-size: 100px;
    color: #3F9C87;
}
.card2_text
{
    color: #45B398;
    font-size: 30px;
    /* font-weight: 550; */
}

.card3
{
    width: 50%;
    /* background-color: #E0EBE7; */
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10%; 
    line-height: 35px;
    /* padding-bottom: 40px; */
}

.btn{
    margin-top: 30px;
    padding: 10px;
    width: 160px;
    border-radius: 40px;
    background-color: #3F9C87;
    display: inline-block;

    
}
.card3 a{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover{
    background-color: #45B398;
}

.card4
{
    width: 100%;
    background-color:#E0EBE7;
    color:#C5DED8;
    text-align: center;
    line-height: 70px;
    /* padding: ; */
}

.card4_text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card4 a{
    color:#3F9C87;
    text-decoration: none;
    font-size: x-large;
    
}

.card4 a:hover{
    color:black;
}
.copyright
{
    color: #3F9C87;
}

